<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MindValleytest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6DE7E7B41D3F542300031B93</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6DE7E7CD1D3F542300031B93</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6DE7E7D81D3F542300031B93</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
